* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Slab', sans-serif;
}

#main-container {
    margin: auto;
    width: 100%;
}
#rangebox {
    width: 100%;
    padding: 0px 10px;
}

#rangebox h1 {
    font-size: 1.5em;
    font-weight: 400;
}
#rangebox p {
    font-weight: 300;
}
#rangebox input.range {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    margin: 25px auto 5px;
    display: block;
}
#rangebox .range_value {
    text-align: center;
}
#rangebox .range::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
#rangebox .range::-webkit-slider-thumb:hover {
    background: #A764DD;
}
#rangebox .range:active::-webkit-slider-thumb {
    background: #A764DD;
}
#rangebox .range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
#rangebox .range::-moz-range-thumb:hover {
    background: #A764DD;
}
#rangebox .range:active::-moz-range-thumb {
    background: #A764DD;
}
::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}
input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}

#pie {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
#pie svg {
    display: block;
    margin: 0 auto;
}
#pie path.slice {
    opacity: .8;
}
#pie text.label {
    opacity: 1;
    font-size: 0.9em;
}
#pie polyline {
    opacity: .15;
    stroke: black;
    stroke-width: 1px;
    fill: none;
}
::-moz-range-track {
    background: #ccc;
    border: 0;
}
input::-moz-focus-inner {
    border: 0;
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


@media only screen and (min-width: 640px) { 
    #main-container {
        width: 90%;
        margin: 0 auto;
    }
    
    #rangebox input.range {
        width: 400px;
        margin: 25px 0 10px;
    }
    #rangebox .range_value {
        text-align: left;
    }
}

@media only screen and (min-width: 768px) { 
    #main-container {
        width: 75%;
        margin: 0 auto;
    }
    #rangebox input.range {
        width: 400px;
        margin: 25px 0 10px;
    }
    #rangebox .range_value {
        text-align: left;
    }
    #pie text.label {
          font-size: 1em;
    }
    #pie2 text.label {
        font-size: 1em;
    }
}

@media only screen and (min-width: 1024px) { 
    #main-container {
        width: 90%;
        max-width: 1050px;
        margin: 0 auto;
    }
    #rangebox {
        float: left;
        width: 40%;
        max-width: 400px;
        margin: 90px 0 30px;
        padding-top: 50px;
        display: inline;
    }
    
    #rangebox input.range {
        width: 380px;
    }
    
    
    #pie {
        float: left;
        width: 60%;
    }

    #pie2 {
        float: left;
        width: 60%;
    }
}

#pie2 {
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
}
#pie2 svg {
    display: block;
    margin: 0 auto;
}
#pie2 path.slice {
    opacity: .8;
}
#pie2 text.label {
    opacity: 1;
    font-size: 0.9em;
}
#pie2 polyline {
    opacity: .15;
    stroke: black;
    stroke-width: 1px;
    fill: none;
}